.characterlist {
  width: 35%;
}
.character {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #334155;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}
.character:hover {
  background-color: #2f4b72;
}
.character_selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #2f4b72;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}
.character_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.character_main img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin-right: 10px;
}

.character_info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.character_status,
.character_species {
  font-size: 14px;
  color: #f2f2f2;
  margin-left: 5px;
}
.character_name {
  color: #fff;
}
.character_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
.character_status_alive {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #16a34a;
}

.character_status_dead {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #e11d48;
}
.character_btn {
  color: #fff;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
}
.character_btn_selected {
  background-color: #16a34a;
  padding: 8px;
  border-radius: 3px;
}

.character_btn:hover {
  background-color: #16a34a;
  border-radius: 3px;
}
